@media screen and (max-width: 880px){
  .shop__slide{
    grid-template-columns: 1fr 1fr;
    &__item{
      margin-bottom: 20px;
    }
  }
  
}
@media screen and (max-width: 570px){
  .shop-surfboard{
    display: none;
  }
  .shop__slide{
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 500px){
  .shop-arrows{
    top: -100px;
  }
}