*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
}
li{
  list-style: none;
}
h1{
  font-weight: 800;
  font-size: 80px;
  line-height: 86px;
  text-transform: uppercase;
  color: $white;
  margin: 0;
  margin-bottom: 48px;
}
h2{
  font-weight: 800;
  font-size: 40px;
  line-height: 86px;
  text-transform: uppercase;
  color: $white;
  margin-bottom: 18px;
}
h3{
  font-weight: 800;
  font-size: 24px;
  line-height: 34px;
  text-transform: uppercase;
  color: $white;
}
h4{
  font-size: 22px;
  line-height: 32px;
  letter-spacing: 7.33333px;
  text-transform: uppercase;
  color: $white;
  opacity: 0.5;
  margin-bottom: 5px;
  font-weight: 300;
}
h5{
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 8px;
  text-transform: uppercase;
  color: $white;
  font-weight: 500;
}
a{
  display: inline-block;
  text-decoration: none;
}
.line-left{
  position: relative;
  padding-left: 103px;
  display: inline-block;
  opacity: 0.5;
  &::before{
    content: "";
    position: absolute;
    width: 80px;
    height: 1px;
    background-color: #FFFFFF;
    left: 0;
    top: 50%;
  }
}
.line-right{
  position: relative;
  padding-right: 103px;
  display: inline-block;
  opacity: 0.5;
  &::after{
    content: "";
    position: absolute;
    width: 80px;
    height: 1px;
    background-color: #FFFFFF;
    right: 0;
    top: 50%;
  }
}
.title-opacity{
  font-weight: 800;
  font-size: 200px;
  line-height: 156px;
  text-transform: uppercase;
  color: $white;
  opacity: 0.07;
}
.title-position{
  position: absolute;
  left: -65px;
  top: 35px;
}
.slick-arrows{
  position: absolute;
  right: 80px;
  top: 40px;
  z-index: 4;
}
.arrows-left{
  right: 125px;
}
.top-line{
  padding-top: 5px;
  position: relative;
  &::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 80px;
    height: 1px;
    background-color: $green;
  }
}
.weight{
  font-weight: 100;
}
button{
  border: 0px;
  background-color: transparent;
  cursor: pointer;
}
.global__title{
  max-width: 415px;
  position: relative;
  text-align: right;
}
.btn-default{
  display: inline-block;
  color: $white;
  font-weight: 800;
  font-size: 40px;
  line-height: 36px;
  text-transform: uppercase;
  span{
    background-color: $green;
    display: inline-block;
    padding: 17px 57px 27px 17px;
    margin-left: 19px;
    position: relative;
    &::before{
      content: "";
      background-color: $white;
      position: absolute;
      width: 20px;
      height: 1px;
      top: 35px;
      left: -10px;
    }
    &::after{
      content: "";
      background-image: url("../../img/arrows-right.svg");
      height: 21px;
      width: 25px;
      position: absolute;
      right: 17px;
      top: 50%;
      transform: translate(0, -50%);
      z-index: 10;
      color: $white;
    }
  }
}
.slick-arrows2{
  position: absolute;
  right: 0px;
  top: 115px;
  z-index: 4;
}
.arrow-left{
  right: 45px;
}
.container{
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.container-full{
  max-width: 1400px;
  padding: 0 15px;
  margin: 0 auto;
}
.title-space{
  letter-spacing: 7px;
  margin-bottom: 0;
}
.btn-count{
  position: relative;
  margin: 0 25px;
  width: 14px;
  height: 14px;
  outline: none;
}
.btn-minus::after, .btn-plus::after{
  content: "";
  width: 14px;
  position: absolute;
}
.btn-minus::after{
  background-image: url("../../img/minus.svg");
  background-repeat: no-repeat;
  height: 3px;
  top: 6px;
  left: 0;
}
.btn-plus::after{
  background-image: url("../../img/plus.svg");
  height: 14px;
  left: 0;
  top: 0;
}